@import "~taro-ui/dist/style/components/form.scss";
@import "~taro-ui/dist/style/components/input.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/flex.scss";

.page {
  display: flex;
  flex-direction: column;
  height: 100vh; // setting the height to fill the viewport
}

text {
  font-size: 34px;
  margin-left: 30px;
}

.submit-button {
  margin-top: auto;
  width: 100vw;
}

map {
  width: 100vw;
}


