@import "~taro-ui/dist/style/components/action-sheet.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.index {
  width: 100vw;
  height: 100vh;
}

map {
  width: 100vw;
  height: 100vh;
}

.group-container {
  position: absolute;
  bottom: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
