@import "~taro-ui/dist/style/components/action-sheet.scss";
@import "~taro-ui/dist/style/components/card.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/loading.scss";

.index {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

map {
  width: 100vw;
  height: 100vh;
}

.group-container {
  border-radius: 20px;
  width: 95%;
  position: absolute;
  bottom: 140px;
  height: auto;
  background-color: #fff;
  font-size: 32px;
  padding: 10px;

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;

    image {
      display: block;
      width: 240px;
      height: 320px;
      border-radius: 10px;
    }
  }

  .coin {
    color: #e06f19;
  }

  .address {
    white-space: normal;
    word-wrap: break-word;
    display: -webkit-box;
  }

  .group-name {
    font-size: 38px;
    font-weight: bold;
  }

  .count {
    display: inline;
    color: #26c1dd;
    font-size: 44px;
    font-weight: bold;
  }
}
