@import "~taro-ui/dist/style/components/avatar.scss";

page {
}

.info {
  padding: 10px;
}

.members {
  padding: 10px;

  .title {
    display: block;
    margin: 10px 0;
    font-size: 32px;
  }

  .member {
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px 0;

    .avatar-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .avatar {
        height: 100%;
        width: 90%;
      }
    }

    .name {
      font-weight: bold;
    }
  }
}

.intro {
  opacity: 0.6;
}
