@import "~taro-ui/dist/style/components/avatar.scss";

page {
}

.info {
  padding: 10px;
}

.members {
  padding: 10px;

  .title {
    display: block;
    margin: 10px 0;
    font-size: 32px;
  }
}

.at-button {
  margin-top: 10px;
}

.intro {
  opacity: 0.6;
}
