@import "~taro-ui/dist/style/index.scss";
@import "~taro-ui/dist/style/components/tab-bar.scss";
@import "~taro-ui/dist/style/components/badge.scss";

page {
  background-color: #eeeeee;
  font-size: 32px;
  opacity: 0.8;
}

.tags {
  display: flex;
  align-items: flex-start; /* Vertical alignment (optional) */
  justify-content: flex-start; /* Horizontal alignment */
  flex-direction: row;
  flex-wrap: wrap;
}

.tag-container {
  display: inline-flex;
  margin-top: 5px;

  .at-tag {
    margin-right: 5px;
  }

  .city {
    background-color: #fee8e3;
    color: #ffffff;
  }

  .gender {
    background-color: #98dc21;
    color: #ffffff;
  }
}
